/* body {
    font-family: Arial, sans-serif;
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

#search-input {
    padding: 10px;
    width: 300px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#results-container {
    margin-top: 20px;
}

.book-card {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.book-card h2 {
    font-size: 1.2rem;
    margin: 0;
}

.book-card p {
    margin: 5px 0;
} */


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

#search-input {
    padding: 10px;
    width: 300px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#results-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.book-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-card a:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.website-title {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    background-color: #007BFF;
    color: white;
}   

.book-card h2 {
    font-size: 1.2rem;
    margin: 0;
    color: #333;
}

.book-card p {
    margin: 5px 0;
    color: #777;
}


.highly-rated-label {
    background-color: #ffcc00;
    color: #fffdfd;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 5px;
}